
# ignore Godot 4+ editor folder and specifically all contents recursively
.godot/**

# but consider the contents of folders along the way in case we want to track something in particular
!.godot/**/

# include the current working export build as a ready-to-link reference library
# DISABLED: these binaries should be obtained by official means of acquiring the game itself
# !.godot/mono/temp/bin/ExportRelease/RikkiKuuGame.[dp][ld][lb]

# ignore visual studio folder
.vs/
